@import "tailwindcss";

@keyframes scroll-hint {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-hint {
  animation: scroll-hint 3s ease-in-out infinite;
}
